<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-6 col-lg-4 border rounded bg-light">
			<h1 class="text-center mt-3">Sign up</h1>
			<form id="signupForm" class="row g-3">
				<div class="mb-3">
					<label for="username" class="form-label">Username: </label>
					<input type="text" id="username" name="username" class="form-control" autocomplete="on" required>
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">Email:</label>
					<input type="text" id="email" name="email" class="form-control" autocomplete="on" required>
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Password:</label>
					<input type="password" id="password" name="password" class="form-control" autocomplete="on" required>
				</div>
				<div class="mb-3 text-center">
					<button type="submit" class="btn btn-success">Sign up</button>
				</div>
			</form>
			<p>Already have an account? <a href="./login" class="spa text-reset">Log in</a></p>
		</div>
	</div>
</div>
