<h1>Sign up</h1>
<form id="signupForm">

	<div>
		<label for="username">Username: </label>
		<input type="text" id="username" name="username" autocomplete="on" required>
	</div>

	<div>
		<label for="email">Email:</label>
		<input type="text" id="email" name="email" autocomplete="on" required>
	</div>

	<div>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" autocomplete="on" required>
	</div>

	<button type="submit">Sign up</button>
	<!-- <a class="btn btn-primary spa" type="button" href="/friends">Friends</a> -->

	<!-- <script src="../js/signup.js"></script> -->
</form>
